#start-apple ul {
	visibility: hidden;
	display: none;
}

#apple-meat ul{
	visibility: hidden;
	display: none;
}

#meat-eggs ul {
	visibility: hidden;
	display: none;
}

#meat-juice ul {
	visibility: hidden;
	display: none;
}

#eggs-juice ul{
	visibility: hidden;
}

#juice-nuts ul{
	visibility: hidden;
}

#start-nuts ul{
	visibility: hidden;
}

#nuts-cashier ul{
	visibility: hidden;
}

#eggs-cashier ul{
	visibility: hidden;
}

#start-apple ul{

}



